# IDE settings
.idea/                   # Ignora todas las configuraciones específicas del IDE
*.iml                    # Archivos del módulo de IntelliJ

# Sistema operativo
.DS_Store                # MacOS
Thumbs.db                # Windows

# Gradle
.gradle/
local.properties         # Variables locales, como rutas del SDK

# Build
/build/
.cxx/
.externalNativeBuild/
captures/

# Otros
*.log
